.task {
  position: relative;
  background: #fff;
  border-radius: 4px;
  padding: 5px;
  padding-left: 7px;
  height: fit-content;
  cursor: all-scroll;

  &__title {
    font-size: 17px;
    font-weight: 700;
    max-width: 90%;
    overflow-wrap: break-word;
  }

  & b {
    font-size: 15px;
  }

  & span {
    font-size: 14px;
    overflow-wrap: break-word;
    margin-right: 3px;
  }

  &__delete {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    color: #000;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      scale: 1.3;
    }
  }

  &__edits {
    display: none;
    position: absolute;
    top: 4px;
    right: 22px;
    color: #000;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      scale: 1.3;
    }
  }

  &:hover .task__delete,
  &:hover .task__edits {
    display: block;
  }

  &__buttons {
    position: absolute;
    right: 6px;
    bottom: 5px;

    & button {
      font-family: 'Nunito Sans', sans-serif;
      width: 42px;
      font-size: 12px;
      border-radius: 1px;
      border: 0;
      cursor: pointer;
    }

    & button:nth-child(1) {
      background: #f4f6f8;
      color: #9c9c9c;
    }

    & button:nth-child(2) {
      background: #172b4d;
      color: #fff;
      margin-left: 8px;
    }
  }

  .item-priority {
    cursor: pointer;
  }

  .item-priority.active {
    color: #0e1c34;
    font-weight: 800;
  }

  &__color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background: #fff;
    overflow: hidden;

    &.purple {
      background: #6a6dcd;
    }

    &.blue {
      background: #307fe2;
    }

    &.pink {
      background: #c440a1;
    }

    &.red {
      background: #d93535;
    }

    &.lightgreen {
      background: #00a88b;
    }

    &.green {
      background: #146b44;
    }

    &.black {
      background: #000;
    }

    &.grey {
      background: #999c9d;
    }
  }
}
