.tasks {
  &__title {
    color: #172b4d;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
  }

  &__sections {
    display: flex;
    justify-content: space-around;
  }

  &__adding {
    display: flex;
    justify-content: flex-end;
  }
}

.board-tasks {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-weight: 600;
    font-size: 20px;
    color: #5e6c84;
    text-transform: uppercase;
  }

  &__list {
    width: 100%;
    min-height: 350px;
    max-height: 400px;
    padding: 10px;
    background: #f4f5f7;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
  }
}
