.header {
  &__logo {
    width: fit-content;
  }

  &__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    width: fit-content;

    span:nth-child(1) {
      color: rebeccapurple;
    }

    span:nth-child(2) {
      color: cornflowerblue;
    }
  }

  &__description {
    font-weight: 700;
    font-size: 15px;
    color: #9d9d9d;
  }
}
